@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
}

@keyframes scan {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100vh); }
}

.animate-scan {
  animation: scan 8s linear infinite;
}
